@charset="utf-8"; 
body, h1, h2, h3, h4, h5, h6, p, div, ul, li { 
margin: 0; 
padding: 0;
}
body {
	font-family: "Libre Baskerville", Arial, serif;
	background-color: #000;
}
#logo {
	font-family: "Bungee Shade", cursive, sans serif;
	font-size: 70px;
	color: #ffffff;
	width: 550px;
	margin: auto;
	padding-left: 20px;
}
#wrapper {
	background: url("css_Block-3/Block-3/img_Block-3/himalaje.jpg") no-repeat top center;
	background-size: cover;
	background-color: #000000;
	width: 700px;
	margin: 20px auto -20px auto;
	height: 200px;
	border-radius: 10px;
}
#menu {
	width: 700px;
	background-color: #808080;
	border: 1px solid #C0C0C0;
	height: 50px;
	border-radius: 10px;
	margin-top: -50px;
}
#list {
	height: 50px;
	width: 420px;
	margin: 0px auto;
}
#list ul {
	list-style-type: none;
}
#list ul li {
	float: left;
}
#list ul li a {
	display: block;
	height: 25px;
	line-height: 20px;
	width: 75px;
	font-size: 0.8em;
	font-weight: bold;
	color: #FFF;
	border: 1px solid #FFF;
	text-align: center;
	text-decoration: none;
	padding-top: 5px;
	margin: -7px 7px 0px 7px;
	border-radius: 10px;
	background-color: #000000;
	background: -webkit-linear-gradient(#000000 , #808080);
	background: -moz-linear-gradient(#000000 , #808080);
}
#list ul li a:hover {
	background-color: #808080;
	background: -webkit-linear-gradient(#808080 , #000000);
	background: -moz-linear-gradient(#808080 , #000000);
}
#list ul li a.button, #list ul li a.button:hover {
	background-color: #808080;
	background: -webkit-linear-gradient(#808080 , #000000);
	background: -moz-linear-gradient(#808080 , #000000);
	color: #ff69b4;
	cursor: default;
}
#content {
	width: 700px;
	background: #808080;
	margin: 71px auto 0px auto;
	padding: 30px 0px;
	border-radius: 10px;
	border: 1px solid #C0C0C0;
}
#about {
	width: 500px;
	background: #696969;
	margin: 0 auto;
	border: 1px solid #000000;
	border-radius: 10px;
	background: -webkit-gradient (linear, left top, left bottom, from(#000000), to(#808080), color-stop(0.5, #25241c));
	background: -moz-linear-gradient(#808080 , #25241c , #000000);
	box-shadow: 1px 1px 4px #000000 inset;
	-moz-box-shadow: 1px 1px 4px #000000 inset;
	-webkit-box-shadow: 1px 1px 4px #000000 inset;
}
#about img {
	border: 1px solid #000000;
	border-radius: 10px;
	background: #696969;
	margin: 5 px auto;
}
#about h2 {
	color: #ffffff;
	
}
#about p {
	color: #C0C0C0;
	font-size: 0.9em;
	padding: 0.7em;
	line-height: 1.4em;
}
#footer {
	background: #25241c;
	height: 15px;
	width: 700px;
	border-radius: 10px;
	margin: auto;
}
	
	
	
	
	